.about-page {
    font-family: Staatliches;
    background-color: #EBECED;    
    width: 100vw;
    min-height: 100vh;
    color: #3E3E3B;
}

.infos {
    display: flex;
}

.headshot {
    height: 65vh;
    margin: 12px 50px 0 225px;
    border-radius: 10px;
}
.example-appear {
    opacity: 0.01;
}
  
.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.about-info {
    margin: 8px 225px 0 0;
}

.intro {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 16px;
}

.paragraph {
    font-family: Thasadith;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}


@media only screen and (max-width: 815px) {

    .infos {
        display: flex;
        flex-direction: column;
    }

    .headshot {
        display: block;
        max-width: 85vw;
        height: auto;
        margin: auto;
    }

    .about-info {
        margin: 24px;
    }
}