
.landing-page {
    display: block;
    width: 100vw;
    height: 100vh;
    background: url(../../assets/background.svg);
    background-size: cover;
    font-family: Poppins;
}

@media only screen and (max-width: 815px) {
    .landing-page {
        background: url(../../assets/background.svg) no-repeat center;
        background-size: 800px;
    }
}


.header {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: fixed;
    top: 30%;
    left: calc(50% - 128.6px);
}

.titles {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: Poppins;
}

.logo {
    height: 100px;
    width: 100px;
}

.Social-Icons {
    color: #F92524
}

a {
    text-decoration: none;
    color: #F92524
}

p {
    text-shadow: -1px -1px 0 #F92524, 1px -1px 0 #F92524 -1px 1px 0 #F92524, 1px 1px 0 #F92524;
}