.footer {
    z-index: 100;
    height: 100%;
    margin-bottom: 0;
    background: url(../../assets/footer-background.svg);
    background-repeat: no-repeat;
    background-size: 3000px 1000px;
    background-position: center;
    background-position-y: -240px;
}

footer {
    font-size: 14px;
    position: fixed;
    bottom: 0;
    /* left: calc(50% - 107.42px) */
}

ul.Social-Icons {
    display: flex;
    width: 100vw;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: white;
    padding-top: 24px;
}


.icon {
    border-radius: 50%;
    padding: 8px;
    margin: 16px 8px;
    transition: all .2s ease-in-out;
    color: white;
    font-size: 24px !important;
}

:hover.icon {
    cursor: pointer;
    transform: scale(1.2);
}

.footertooltiptext {
    visibility: hidden;
    font-family: Poppins;
    position: absolute;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 10%;
}

.footertooltip:hover .footertooltiptext {
    visibility: visible;
    display: inline-block;
    position:absolute;
    bottom: 105%;
    left:50%;
    transform:translateX(-50%);
    text-align: center;
    background-color: white;
    border-radius: 2px;
    color: #F92524;
}

.copyright, .email {
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
    color: #F92524;
    margin-bottom: 0;
}

.copyright {
    padding-bottom: 1rem;
    color: white;
}

.email {
    margin-bottom: 0;
}

.email a {
    color: white;
}

.email a:hover {
    color: #d8d8d8  ;
}

.copyright a {
    color: white;
}
.copyright a:hover {
    color: #d8d8d8;
}
/* #d8d8d8 */


.email:hover {
    transform: scale(1.05);
}